@model WebAppBookingBoat.Models.Ghe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Ghe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tau.TenTau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGhe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiGhe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGhe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
