@model WebAppBookingBoat.Models.DanhGia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>DanhGia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ve.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoSao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoSao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDanhGia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
