@model IEnumerable<WebAppBookingBoat.Models.HoaDon>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTienGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongThucTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuyenMai.MaKM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
