@model WebAppBookingBoat.Models.KhuyenMai

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>KhuyenMai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenChuongTrinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenChuongTrinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienToiDaGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTienToiDaGiam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
